<%- include header %>
<div style="padding:30px">
</div>
<div class="container">

    <div class="page-header text-center">

        <h1><span class="fa fa-anchor"></span> Appointment Status</h1>
    </div>


    <div class="col-md-4 col-md-offset-2" style="width:100%">
        <%
        var yesterday= new Date();
        yesterday.setDate(yesterday.getDate()-1);
                items.forEach( function ( item ){
                if(yesterday <= item.appDate) { // only handle future appointments for the moment
        %>

        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <tbody style="text-align:left;">
                <tr>
                    <th style="width: 90px;">Appointment Date: </th>
                    <td><%= item.appDate %></td>
                </tr>
                <tr>
                    <th style="width: 90px;">Patient Name: </th>
                    <td><%= item.patient_name %></td>
                </tr>
                <tr>
                    <th style="width: 90px;">Reason for visit: </th>
                    <td><%= item.reason %></td>
                </tr>
                <tr>
                    <th style="width: 90px;">Insurance: </th>
                    <td><%= item.insurance %></td>
                </tr>
                <tr>
                    <th scope="row">Status: </th>
                    <td><%= item.status %></td>
                </tr>
                <tr>
                    <th scope="row">Address: </th>
                    <td><%= item.address %></td>
                </tr>

                </tbody>
            </table>

            <form style="text-align:left;" class="appnitro form-horizontal" method="post" action="/modifyApp" >
                <input type="hidden" name="appId" value = <%= item._id %> >
                <% if(item.status != "CANCELED") { %>
                <button type="submit" name="command" value="CANCEL" class="btn btn-primary"> Cancel </button>
                <% };
                        if (item.status == "PENDING") { %>
                <button type="submit" name="command" value="CONFIRM" class="btn btn-primary"> Confirm </button>
                <% } %>
            </form>

        </div>
        <% }
        }); %>
    </div>
</div>



</div>



</div>
