 <%- include header %>
 <div style="padding:50px">
 </div>

<div class="container" style="width:80%">
<a href="/newpost"><button class = "btn btn-primary" style="float: left;">New Post </button></a>
<div style="padding:20px">
 </div>


 <% posts.forEach( function ( item ){ %>

       <div class="panel panel-<%= item.postType %>">

         <div class="panel-heading">
           <a href="/viewpost/<%= item._id %>"><h3 class="panel-title"><%= item.postTitle %></h3> </a>
         </div>
         <div class="panel-body">
           <%= item.content %>
         </div>
       </div>

     <% }); %>





