<title>Appointment | Patient | Request</title>

<%- include header %>

<!-- Bootstrap core CSS -->
<link href="/stylesheets/dist/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/stylesheets/dist/css/shop-item.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/stylesheets/form/view.css" media="all">
<script type="text/javascript" src="/stylesheets/form/view.js"></script>
<script type="text/javascript" src="/stylesheets/form/calendar.js"></script>

<%
var categories= [
	{display: 'Allergists', category:'allergist'},
	{display: 'Anesthesiologists', category: 'anesthesiologists'},
	{display: 'Audiologist', category: 'audiologist'},
	{display: 'Cardiologists', category: 'cardiology'},
	{display: 'Cosmetic Surgeons', category: 'cosmeticsurgeons'},
	{display: 'Dermatologists', category: 'dermatology'},
	{display: 'Ear Nose & Throat', category: 'earnosethroat'},
	{display: 'Family Practice', category: 'familydr'},
	{display: 'Fertility', category: 'fertility'},
	{display: 'Gastroenterologist', category: 'gastroenterologist'},
	{display: 'Gerontologists', category: 'gerontologist'},
	{display: 'Internal Medicine', category: 'internalmed'},
	{display: 'Naturopathic/Holistic', category: 'naturopathic'},
	{display: 'Neurologist', category: 'neurologist'},
	{display: 'Obstetricians & Gynecologists', category: 'obgyn'},
	{display: 'Oncologist', category: 'oncologist'},	
	{display: 'Ophthalmologists', category: 'opthamalogists'},
	{display: 'Orthopedists', category: 'orthopedists'},
	{display: 'Osteopathic Physicians', category: 'osteopathicphysicians'},
	{display: 'Pediatricians', category: 'pediatricians'},
	{display: 'Podiatrists', category: 'podiatrists'},
	{display: 'Proctologists', category: 'proctologist'},
	{display: 'Psychiatrists', category: 'psychiatrists'},
	{display: 'Pulmonologist', category: 'pulmonologist'},
	{display: 'Sports Medicine', category: 'sportsmed'},
	{display: 'Tattoo Removal', category: 'tattooremoval'},
	{display: 'Urologists', category: 'urologists'}
];
%>


<body>

	<div class="container">

	<div class="col-md-3">
			<p class="lead">Appointment Services</p>
			<div class="list-group">
				<a href="/app" class="list-group-item active">Appointment Request</a>
				<a href="/viewapp" class="list-group-item">My Appointments</a>
			</div>
		</div>
		<br>
		<br>
		<br>


		<div class="col-md-9">
			<form style="text-align:left;" method="post" action="/app_request">

				<ul>
                    <li id="li_1"><h4 for="element_1">Date and Time
					</h4> <span> <input id="element_1_1" name="element_1_1"
							class="form-control" size="2" maxlength="2" type="text" value=<%= element_1_1 %>>
							 <h6 for="element_1_1">MM</h6>
					</span> <span> <input id="element_1_2" name="element_1_2"
							class="form-control" size="2" maxlength="2" value=<%= element_1_2 %> type="text">
							 <h6 for="element_1_2">DD</h6>
					</span> <span> <input id="element_1_3" name="element_1_3"
							class="form-control" size="4" maxlength="4" value=<%= element_1_3 %> type="text">
							<h6 for="element_1_3">YYYY</h6>
					</span> <span id="calendar_1"> <img id="cal_img_1"
							class="datepicker" src="stylesheets/form/calendar.gif" width="60" height="60" alt="Pick a date.">
					</span> <span> <input type="time" name="time" min="06:00:00" max="20:00:00" value="<%= time %>" step="900"
							class="form-control" size="3" maxlength="4" required = "required" >
							<h6 for="time">hh:mm</h6>
					</span>
					
					<script type="text/javascript">
						Calendar.setup({
							inputField : "element_1_3",
							baseField : "element_1",
							displayArea : "calendar_1",
							button : "cal_img_1",
							ifFormat : "%B %e, %Y",
							onSelect : selectDate
						});
					</script></li>
					
					<li id="id_phisisian_search">  <h4> Pick a Physician</h4>
						<div id="div-pick-physicial">
						  <h5>City</h5>
						  <input class="form-control" type="text" id="city" name="city"
						    value="<%= city  %>"
						    <% console.log("The city value is "+city);%>
						  >
						  
						  <h5 for="specialty">Specialty</h5>
						  <select class="form-control" id="specialty" name="specialty">
						    <% console.log("There are "+categories.length+" categories");
						       for( var i =0; i< categories.length; i++) {%>
						       	 <% var cat=categories[i]; %>
								 <option value="<%= cat.category %>" 
									<% if(cat.category==specialty) 
										{%> selected="selected" <%}  
									%> >
								   <%= cat.display %> 
								 </option>
						       <%}
						    %>
						  </select>

                          <div>
                          <h5>Enter Keywords</h5>
						  <input type="text" id="keywords" name="keywords" size="30" class="form-control" value="<%= keywords %>" >
                          </div>

                              <button type="submit" name="command" value="search" class="btn btn-primary"> Search </button>

                          <div>
                          <br>
                          <div><h4>View Result</h4></div>
						  <table class = "table table-hover" id="physicial_table" name="physicial_table">
						    <tr>
							  <td><h5>Select</h5></td>
  							  <td><h5>Name</h5></td>
  							  <td><h5>Address</h5></td>
  							  <td><h5>Rating</h5></td>
							  <td><h5>Review</h5></td>
						    </tr>
						    
						    <%
						      console.log("There are "+physicians.length+" physicians"); 
						      for(var i=0; i<physicians.length; i++) {%>
						        <%
						          var physicianAddr= ""+physicians[i].location.address
  								    	+" "+physicians[i].location.city
  								    	+" "+physicians[i].location.state_code
  								    	+" "+physicians[i].location.postal_code; 
						        %>
							    <tr>
							  	  <td> <input type="radio" name="physician" 
							  	  			value = <%= physicians[i].id %> 
							  	    		<% if(physician== physicians[i].id) {%> checked <%}  %>  
							  	       >
							  	  </td>
							  	  <% console.log("Rendered physician ID radio"); %>
  								  <td><a href=<%=physicians[i].url %>><%= physicians[i].name %></a></td>
  								  <td>
  								    <%= physicianAddr  %>
  								  </td> 
  								  <td><img src=<%= physicians[i].rating_img_url %> alt=<%= physicians[i].rating %> >
  								  </td>
					    		  <td> <%= physicians[i].snippet_text %> </td>
						    	</tr>
							  <%} 
							%>
						  </table>
                          </div>
						  
						</div>
					</li>

					<li id="li_2"><h5 for="reason">Reason for Visit
					</h5>
						<div>
							<textarea id="reason" name="reason"
                                      class="form-control" rows="3"><%=reason%></textarea>
						</div></li>

					<li id="li_4"><h5 for="insurance">Insurance Type</h5>
						<div>
							<select class="form-control" id="insurance"
								name="insurance">
								<option value="" selected="selected"></option>
								<option value="cigna">Cigna</option>
								<option value="aetna">Aetna</option>
								<option value="kaiser">Kaiser</option>

							</select>
						</div></li>
					<li>
						<div>
						<button type="submit" name="command" value="submit" class="btn btn-primary">Submit</button></div></li>
				</ul>
			</form>
		</div>
	</div>

	<!-- JavaScript -->
	<script src="/stylesheets/dist/js/bootstrap.js"></script>
