<%- include header %>


<title>Appointment | Patient | View</title>

<!-- Bootstrap core CSS -->
<link href="/stylesheets/dist/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/stylesheets/dist/css/shop-item.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/stylesheets/form/view.css" media="all">
<script type="text/javascript" src="/stylesheets/form/view.js"></script>
<script type="text/javascript" src="/stylesheets/form/calendar.js"></script>

</head>

<body>
	<div class="container">

		<div class="col-md-3">
			<p class="lead">Appointment Services</p>
			<div class="list-group">
				<a href="/app" class="list-group-item">Appointment Request</a>
				<a href="/viewapp" class="list-group-item active">My Appointments</a>
			</div>
        </div>



    <div>
        <div style="float: left; margin-left: 120px;">
        <% // show the optional message, if exists
           if(typeof message != 'undefined'  && message) { %>
           <h4> <%= message %> </h4>
         <%} %>
        </div>

		 <div style="float: left; margin-left: 60px; margin-top: 80px;">
            <%
              var yesterday= new Date();
              yesterday.setDate(yesterday.getDate()-1); 
              items.forEach( function ( item ){ 
              if(yesterday <= item.appDate) { // only handle future appointments for the moment
            %>

            <div>
            		<table class="table table-hover table-bordered">
                    <tbody style="text-align:left;">
                      <tr>
                        <th style="width: 90px;">Appointment Date: </th>
                        <td><%= item.appDate %></td>
                      </tr>
                      <tr>
                        <th style="width: 90px;">Doctor Name: </th>
                    	<td><%= item.doctor_name %></td>
                      </tr>
                      <% if(item.broker_name){ %>
                      <tr>
                        <th style="width: 90px;">Agent Name: </th>
                    	<td><%= item.broker_name %></td>
                      </tr>
                      <% } %>
                      <tr>
                        <th style="width: 90px;">Reason for visit: </th>
                    	<td><%= item.reason %></td>
                      </tr>
                      <tr>
                        <th style="width: 90px;">Address: </th>
                    	<td><%= item.address %></td>
                      </tr>
                      <tr>
                        <th style="width: 90px;">Modified Date: </th>
                    	<td><%= item.modifiedDate %></td>
                      </tr>
                      <tr>
                        <th scope="row">Status: </th>
                    	<td><%= item.status %></td>
                      </tr>
                    </tbody>
                  </table>

				  <form style="text-align:left;" class="appnitro form-horizontal" method="post" action="/modifyApp" >
				  	<input type="hidden" name="appId" value = <%= item._id %> >
				    <% if(item.status != "CANCELED") { %>
	  					 <button type="submit" name="command" value="CANCEL" class="btn btn-primary"> Cancel </button>
	  				<% }
	  				   else {
	  				%>
	  				     <button type="submit" name="command" value="DELETE" class="btn btn-danger"> Delete </button>
	  				<% }
	  				%>
				  </form>


            		</div>
                    <br>
                    <br>
            	<% }
                }); %>
                     </div>
                     </div>

    </div>



	<!-- JavaScript -->
	<script src="/stylesheets/dist/js/bootstrap.js"></script>
</body>
</html>