<%- include header %>
 <div style="padding:80px">
 </div>

 <div class="container" style="width:80%">


        <div class="panel panel-<%= post.postType %>">
        <div class="panel-heading">
             <h3 class="panel-title"><%= post.postTitle %></h3>
        </div>

           <div class="panel-body">
           <%= post.content %>
               <div class="col-md-18 text-danger" >
                   <div>Created on:<%= post.postDate %></div>
                   <div>Post by:<%= post.user_id %></div>
               </div>
           </div>


           <% post.reply.forEach( function ( item ){ %>
           <div class="panel panel-info" style="width:830px; margin-right:auto; margin-left:auto">
           <div class="panel-body">
             <%= item.content %>
               <div class="col-md-18 text-danger">
                   <div>Created on:<%= item.postDate %></div>
                   <div>Post by:<%= item.user_id %></div>
               </div>
           </div>
           </div>
           <% }); %>

        <div>







 <form method="post" action="/replypost/<%= post._id %>">
 <textarea name = "content" style="width:830px; margin-right:auto; margin-left:auto" class="form-control" rows="3" placeholder="Type Here ..."></textarea>
 <div style="padding:5px"></div>
 <button type="submit" class="btn btn-primary">Submit </button>
 </form>

 </div>

 </div>
     </div>