 <%- include header %>
<div style="padding:30px">
  </div>
<div class="container">

	<div class="page-header text-center">

		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>


					<p>
						<strong>Email</strong>: <%= user.local.email %><br>
						<strong>User Type</strong>: <%= user.local.userType %><br>
                        <strong>Name</strong>: <%= person.firstName %> <%= person.lastName %><br>
						<strong>Address</strong>: <%= person.address %><br>
						<strong>Phone</strong>: <%= person.phone %><br>

					</p>

			</div>
			<a href="/modifyprofile" class="btn btn-primary btn-sm">Modify   </a>
			<a href="/changepassword" class="btn btn-primary btn-sm">Change Password   </a>

		</div>



</div>
